
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-down-open-big:before { content: '\e807'; } /* '' */
.icon-left-open-big:before { content: '\e808'; } /* '' */
.icon-right-open-big:before { content: '\e809'; } /* '' */
.icon-up-open-big:before { content: '\e80a'; } /* '' */
.icon-ok-outline:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-cancel-outline:before { content: '\e80d'; } /* '' */
.icon-cancel-1:before { content: '\e80e'; } /* '' */
.icon-picture-outline:before { content: '\e80f'; } /* '' */
.icon-picture-1:before { content: '\e810'; } /* '' */
.icon-camera-outline:before { content: '\e811'; } /* '' */
.icon-basket:before { content: '\e812'; } /* '' */
.icon-heart:before { content: '\e813'; } /* '' */
.icon-heart-empty:before { content: '\e814'; } /* '' */
.icon-wrench:before { content: '\e815'; } /* '' */
.icon-cog-alt:before { content: '\e816'; } /* '' */
.icon-attention:before { content: '\e817'; } /* '' */
.icon-location:before { content: '\e818'; } /* '' */
.icon-to-end-alt:before { content: '\e819'; } /* '' */
.icon-to-end:before { content: '\e81a'; } /* '' */
.icon-to-start:before { content: '\e81b'; } /* '' */
.icon-to-start-alt:before { content: '\e81c'; } /* '' */
.icon-windows:before { content: '\e81d'; } /* '' */
.icon-chrome:before { content: '\e81e'; } /* '' */
.icon-vkontakte-rect:before { content: '\e81f'; } /* '' */
.icon-eye:before { content: '\e820'; } /* '' */
.icon-eye-off:before { content: '\e821'; } /* '' */
.icon-quote-left-1:before { content: '\e822'; } /* '' */
.icon-quote-right-1:before { content: '\e823'; } /* '' */
.icon-cancel-2:before { content: '\e824'; } /* '' */
.icon-cancel-circled:before { content: '\e825'; } /* '' */
.icon-cancel-circled2:before { content: '\e826'; } /* '' */
.icon-plus:before { content: '\e827'; } /* '' */
.icon-ok-1:before { content: '\e828'; } /* '' */
.icon-ok-circled-1:before { content: '\e829'; } /* '' */
.icon-camera:before { content: '\e82a'; } /* '' */
.icon-picture-2:before { content: '\e82b'; } /* '' */
.icon-music:before { content: '\e82c'; } /* '' */
.icon-search-1:before { content: '\e82d'; } /* '' */
.icon-mail-1:before { content: '\e82e'; } /* '' */
.icon-user-2:before { content: '\e82f'; } /* '' */
.icon-group:before { content: '\e830'; } /* '' */
.icon-facebook-circled-1:before { content: '\f051'; } /* '' */
.icon-facebook-2:before { content: '\f052'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-github-circled-2:before { content: '\f054'; } /* '' */
.icon-github-3:before { content: '\f055'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter-circled-1:before { content: '\f057'; } /* '' */
.icon-twitter-2:before { content: '\f058'; } /* '' */
.icon-gplus-circled-1:before { content: '\f059'; } /* '' */
.icon-gplus-2:before { content: '\f05a'; } /* '' */
.icon-linkedin-1:before { content: '\f05c'; } /* '' */
.icon-user-1:before { content: '\f061'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-github-1:before { content: '\f300'; } /* '' */
.icon-github-circled-1:before { content: '\f301'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-github-2:before { content: '\f308'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest-1:before { content: '\f312'; } /* '' */
.icon-pinterest-circled-1:before { content: '\f313'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-wordpress-1:before { content: '\f31d'; } /* '' */
.icon-instagram-2:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-qq:before { content: '\f32a'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */